@import "./base/mixin";
@import "./base/variables";

@font-face {
    font-family: nunito;
    src: url(/assets/fonts/Nunito-Bold.ttf);
    src: url(/assets/fonts/Nunito-ExtraBold.ttf);
    src: url(/assets/fonts/Nunito-SemiBold.ttf);
    src: url(/assets/fonts/Nunito-Medium.ttf);
}

@font-face {
    font-family: inter;
    src: url(/assets/fonts/Inter-Bold.ttf);
    src: url(/assets/fonts/Inter-ExtraBold.ttf);
    src: url(/assets/fonts/Inter-SemiBold.ttf);
    src: url(/assets/fonts/Inter-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    font-family: nunito;
}


.site-header {
    &__topbar {
        border-bottom: 1px solid rgba(28, 28, 36, 0.1);
        padding: 5px 0 0 0;
    }

    &__topbar-container {
        display: flex;
        justify-content: space-between;
    }

    &__topbar-left {
        display: flex;
        justify-content: space-between;
    }

    &__topbar-left-currency {
        border: none;
        font-size: 13px;
        color: $paragrapghColor;
        width: 4em;
        height: 2em;
        margin-top: -.2em;

        &:focus {
            box-shadow: none;
        }

        &:focus-visible {
            outline: none;
        }
    }

    &__topbar-left-language {
        border: none;
        font-size: 13px;
        color: $paragrapghColor;
        width: 6em;
        height: 2em;
        margin-top: -.2em;

        &:focus {
            box-shadow: none;
        }

        &:focus-visible {
            outline: none;
        }
    }

    &__topbar-left-offer-link {
        text-decoration: none;
        color: $paragrapghColor;
    }

    &__topbar-left-offertxt {
        font-size: 13px;
    }

    &__topbar-right {
        display: flex;
        justify-content: space-between;
    }

    &__topbar-right-track-link {
        text-decoration: none;
        color: $paragrapghColor;
    }

    &__topbar-right-track {
        font-size: 13px;
    }

    &__topbar-right-newsletter {
        display: flex;
        justify-content: space-between;
    }

    &__topbar-right-newsletter-icon {
        margin-right: 5px;
        margin-top: 4px;
        color: $paragrapghColor;
    }

    &__topbar-right-newsletter-link {
        color: $paragrapghColor;
    }

    &__topbar-right-social-icon {
        margin-left: 10px;
    }

    &__topbar-right-social-icon-color {
        color: $paragrapghColor;
    }

    &__topbar-right-social-link {}

    &__topbar-right-newsletter-link {
        text-decoration: none;
    }

    &__topbar-right-newsletter {
        font-size: 13px;
    }

    &__devider {
        width: 1px;
        height: 12px;
        background: $paragrapghColor;
        margin: 0px 10px;
        margin-top: 5px;
    }

    &__topbar-right-social-link {
        font-size: 13px;
    }

    // For searchbar
    &__searchbar {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 0;

    }

    &__logo {}

    &__logo-link {
        height: 48px;
        width: 106px;
    }

    &__search-box {
        width: 690px;

        .has-search .form-control {
            padding-left: 2.375rem;
            font-size: 13px;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 1;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
        }
    }

    &__search-icon {
        padding: 5px;
        color: $primaryColorOrange;
    }

    &__input-field {
        padding: 13px;
    }

    &__searchbar-right {
        margin-top: 10px;
    }

    &__searchbar-right-icon {
        font-size: 13px;
        color: $primaryColorOrange;
    }

    &__wishlist {
        text-decoration: none;
        font-size: 13px;
        margin-right: 10px;
        color: $paragrapghColor;
    }

    &__cart {
        text-decoration: none;
        font-size: 13px;
        color: $paragrapghColor;
    }

    // Menu
    #primary_nav_wrap {
        margin-top: 15px
    }

    #primary_nav_wrap ul {
        list-style: none;
        position: relative;
        float: left;
        margin: 0;
        padding: 0
    }

    #primary_nav_wrap ul a {
        display: block;
        color: $headerFontColor;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 21.82px;
        padding: 0 15px;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
    }

    #primary_nav_wrap ul li {
        position: relative;
        float: left;
        margin: 0;
        padding: 0
    }

    #primary_nav_wrap ul li a:hover {
        color: $primaryColorOrange;
    }

    #primary_nav_wrap ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        padding: 0;
    }

    #primary_nav_wrap ul ul li {
        float: none;
        width: 200px;
    }

    #primary_nav_wrap ul ul a {
        line-height: 120%;
        padding: 10px 15px;
    }

    #primary_nav_wrap ul ul ul {
        top: 0;
        left: 100%;
    }

    #primary_nav_wrap ul li:hover>ul {
        display: block;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    &__menu-sub {
        display: flex;
    }

    &__mega-menu {
        background-color: $primaryColorOrange;
        padding: 15px 20px;
    }

    &__menu-icon {
        color: #fff;
        font-size: 14px;
    }

    &__categories-txt {
        font-size: 14px;
        text-decoration: none;
        color: #FFFFFF;
        padding-left: 10px;
        padding-right: 73px;
    }

    &__categories-txt.disabled:hover {
        font-weight: inherit;
    }

    &__arrow {
        color: white;
        font-size: 14px;
    }

    &__free-shipping {
        padding-top: 15px;
    }

    &__free-shipping-text {
        font-size: 13px;
        color: $headerFontColor;
    }
}

@media (max-width:768px) {
    .site-header {
        &__free-shipping {
            display: none;
        }
    }
}

/*----------------------------------------------------------------
  >>> HERO SECTION:
----------------------------------------------------------------*/
.hero {
    &__hero-image {
        background-image: url("/static/media/hero-shape.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__hero-header {
        font-size: 70px;
        font-weight: 800;
        color: $headerFontColor;
        padding-bottom: 50px;
    }

    &__hero-btn {
        @include fashionBtn;
    }
}

/*----------------------------------------------------------------
  >>> GALLERY SECTION:
----------------------------------------------------------------*/
.gallery {
    padding: 20px;

    img {
        width: 100%;
    }

    &__left-column {
        position: relative;
    }

    &__image-txt {
        position: absolute;
        bottom: 0px;
        left: 30px;

        h3 {
            background: white;
            color: $headerFontColor;
            font-size: 16px;
            font-weight: 600;
            padding: 5px 25px;
            margin-bottom: 0px;
            text-align: center;
        }

        p {
            background: $headerFontColor;
            color: white;
            font-size: 13px;
            font-weight: 400;
            padding: 5px 20px;
            text-align: center;

            &:hover {
                background: $primaryColorOrange;
                cursor: pointer;
            }
        }
    }
}

/*----------------------------------------------------------------
>>> CARD SECTION:
----------------------------------------------------------------*/
.card-section {
    padding-top: 80px;

    // &__full {
    //     display: flex;
    //     justify-content: space-between;
    // }

    &__left {
        display: flex;
        align-items: center;
        // justify-content: center;
        border: 1px solid rgba(0, 18, 78, 0.1);
    }

    &__image {}

    &__text {
        margin-left: 10px;
        margin-right: 2px;
    }

    &__paragraph {
        font-size: 18px;
        color: $paragrapghColor;
    }

    &__header {
        font-size: 24px;
        font-weight: 800;
        color: $headerFontColor;
    }

    &__link {
        font-size: 18px;
        color: $headerFontColor
    }

    // right section
    &__right {
        padding-left: 20px;
    }

    &__right-top {
        display: flex;
    }

    .card {
        font-size: 18px;
        text-align: center;
        width: 170px;
        height: 165px;
        padding: 35px;
        @include cardEffect;
    }

    .card:not(:last-child) {
        margin-right: 14px;
    }

    .card-title {
        padding-top: 10px;
        color: $headerFontColor;
    }

    .card-body {
        padding: 0px;
    }

    &__wallet {
        font-size: 50px;
    }

    // &__wallet:hover{
    //     color: $primaryColorOrange;
    // }

    &__right-bottom {
        display: flex;
    }
}

/*----------------------------------------------------------------
>>> COLLECTION SECTION:
----------------------------------------------------------------*/
.collection {

    padding-top: 100px;

    &__text {
        text-align: center;
        color: $primaryColorOrange;
        font-size: 16px;
        margin: 0px;
        padding-bottom: 10px;
    }

    &__header {
        text-align: center;
        color: $headerFontColor;
        font-size: 31px;
        font-weight: 800;
        padding-bottom: 30px;
    }

    &__row {
        display: flex;
    }

    &__item {
        position: relative;
    }

    &__offer-txt {
        display: flex;
        position: absolute;
        top: 20px;
        left: 30px;
    }

    &__offer-txt-number {
        background-color: #2EBB0A;
        font-size: 12px;
        padding: 1px 10px;
        color: #fff;
        margin-right: 4px;
    }

    &__offer-txt-name {
        background-color: $primaryColorOrange;
        font-size: 12px;
        padding: 1px 10px;
        color: #fff;
    }

    &__img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    &__product-txt {
        line-height: 0px;
        padding-top: 25px;
        color: $paragrapghColor;
    }

    &__icon-color {
        color: #FF9933;
        font-size: 15px;
    }

    &__product-header-txt {
        font-size: 18px;
        font-weight: 700;
        padding-top: 10px;
    }

    &__product-price {
        font-size: 15px;
        color: #E82222;
    }

    &__icon-cart {
        margin-top: -7px;
        width: 20px;
        height: 20px;
    }

    &__btn-cart {
        padding-top: 30px;
    }

    &__btn {
        @include fashionBtn;
    }
}

/*----------------------------------------------------------------
>>> SELL SECTION:
----------------------------------------------------------------*/
.sell {
    &__full {
        display: flex;
        padding-top: 100px;
    }

    &__photo-left {
        padding: 20px;
        background: #F6F6F6;
        transform: matrix(0.99, -0.11, 0.1, 0.99, 0, 0);
    }

    &__photo-right {
        padding: 20px;
        background: #F6F6F6;
        transform: matrix(0.99, 0.11, -0.1, 0.99, 0, 0);
    }

    &__txt {
        padding-top: 40px;
        padding-left: 45px;
        padding-right: 45px;
        position: relative;
    }

    &__txt::after {
        position: absolute;
        content: "";
        background: rgba(0, 18, 78, 0.1);
        width: 2px;
        height: 210px;
        top: 55px;
        right: 15px;
    }

    &__offer-txt {
        padding-top: 45px;
        padding-left: 40px;
        padding-right: 45px;
    }

    &__txt-stroke1 {
        font-family: inter;
        font-size: 60px;
        color: white;
        opacity: 0.1;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #666666;
    }

    &__txt-stroke2 {
        font-family: inter;
        font-size: 60px;
        color: white;
        opacity: 0.4;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #666666;
    }

    &__txt-stroke3 {
        font-family: inter;
        font-size: 60px;
        color: white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #00124E;
    }

    &__up-to {
        font-size: 24px;
        font-weight: 600;
        color: $headerFontColor;
        line-height: 25px;
    }

    &__middle-txt {
        display: flex;
    }

    &__offer30 {
        margin-left: -3px;
        line-height: 0px;
        font-size: 70px;
        font-weight: 800;
        color: $headerFontColor;
    }

    &__offer-off {
        margin-top: -28px;
        font-size: 30px;
        font-weight: 600;
        color: $primaryColorOrange;
    }

    &__code {
        font-size: 24px;
        font-weight: 400;
        color: $paragrapghColor;
        padding: 30px 0px 20px 0px;
    }

    &__btn-offer {
        @include fashionBtn;
    }
}

/*----------------------------------------------------------------
>>> PRODUCT LIST SECTION:
----------------------------------------------------------------*/
.product-list {
    padding-top: 100px;

    &__content {

        img {
            width: 65px;
            height: 60px;
            margin-right: 20px;
        }
    }

    &__content:not(:last-child) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #00124E1A;
    }

    &__full {
        border: 1px solid #00124E1A;
        padding: 30px;
    }

    &__header-list {
        font-size: 24px;
        font-weight: 700;
        color: $headerFontColor;
    }

    &__product-details {
        padding-top: 5px;
        line-height: 1;

        h3 {
            font-size: 18px;
            font-weight: 600;
            color: $headerFontColor;
        }

        p {
            font-size: 15px;
            font-weight: 600;
            color: $primaryColorOrange;
        }
    }

    // third column
    &__background-img {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 37px;

        img {
            width: 100%;
            height: 415px;
        }
    }

    &__img-content {
        position: absolute;
        padding: 60px 60px 0px 60px;
        top: 5px;

        p {
            font-size: 16px;
            font-weight: 600;
            color: $primaryColorOrange;
        }

        h3 {
            font-size: 24px;
            font-weight: 700;
            color: $headerFontColor;
            margin-bottom: 40px;
        }

        a {
            @include fashionBtn;
        }
    }
}

/*----------------------------------------------------------------
>>> RETURN SECTION:
----------------------------------------------------------------*/
.return {
    padding-top: 100px;

    &__full-part {
        display: flex;
    }

    &__first-part {
        display: flex;
        border: 1px;
        border: 1px solid rgba(0, 18, 78, 0.1);
        padding-right: 10px;
    }

    &__icon {
        margin-top: 45px;
        margin-left: 25px;
        margin-right: 15px;
        stroke: 3px;
        stroke: $primaryColorOrange;
    }



    &__title {
        padding-top: 55px;
        font-size: 24px;
        font-weight: 700;
        color: $headerFontColor;
        line-height: 0px;
    }

    &__paragraph {
        font-size: 18px;
        font-weight: 400;
        color: $paragrapghColor;
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

/*----------------------------------------------------------------
>>> CART SECTION:
----------------------------------------------------------------*/
.cart {
    padding-top: 100px;

    &__image {
        background: #D9D9D9;
    }

    &__content {
        margin-top: 70px;
        padding-left: 50px;

        // margin-left: 10px;
        h3 {
            font-size: 18px;
            font-weight: 700;
            color: $headerFontColor;
        }

        p {
            font-size: 18px;
            font-weight: 700;
            color: $primaryColorOrange;

            small {
                font-size: 10;
                font-weight: 400;
                color: $paragrapghColor;
            }
        }
    }

    .sizes {
        margin-top: 20px;

        .text {
            font-size: 18px;
            font-weight: 600;
            margin-right: 22px;
            margin-top: 3px
        }
    }

    // for colors
    &__color-section {
        h3 {
            margin-top: 5px;
        }
    }

    &__color-parent {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(0, 18, 78, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 5px;

        &:hover {
            border: 1px solid $primaryColorOrange;
        }
    }

    &__colors {
        height: 20px;
        width: 20px;
        background-color: #AEB083;
        border-radius: 50%;
    }

    &__color-parent1 {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(0, 18, 78, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;

        &:hover {
            border: 1px solid $primaryColorOrange;
        }
    }

    &__colors1 {
        height: 20px;
        width: 20px;
        background-color: #99B5BE;
        border-radius: 50%;
    }

    &__color-parent2 {
        height: 30px;
        width: 30px;
        border: 1px solid rgba(0, 18, 78, 0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border: 1px solid $primaryColorOrange;
        }
    }

    &__colors2 {
        height: 20px;
        width: 20px;
        background-color: #DEA9B2;
        ;
        border-radius: 50%;
    }


    // for sizes
    label.radio {
        cursor: pointer;
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        width: 30px;
        height: 30px;
        border: 1px solid #00124E1A;
        display: inline-block;
        color: $headerFontColor;
        border-radius: 50%;
        text-transform: uppercase;
        text-align: center;
        margin-right: 5px;
    }

    label.radio input:checked+span {
        background-color: $primaryColorOrange;
        color: #fff
    }

    &__text-section {
        margin-top: 20px;
        margin-bottom: 30px;

        a {
            color: $headerFontColor;
            font-size: 16px;
            font-weight: 400;
            padding-right: 20px;
            text-decoration: none;
        }
    }

    &__icon-txt {
        margin-top: 3px;
        margin-right: 5px;
    }

    &__buy-now-btn {
        margin-top: 30px;

        a {
            @include buynowBtn;
        }
    }

    &__wishlist {
        margin-top: 30px;

        a {
            color: $headerFontColor;
            font-size: 16px;
            font-weight: 400;
            padding-right: 25px;
            text-decoration: none;
        }
    }

    &__flex-txt {
        margin-top: 3px;
        margin-right: 5px;
    }

    &__btn-cart {
        margin-bottom: 15px;

        a {
            @include fashionBtn;
        }

        svg {
            padding: 0px;
        }
    }

    &__full-btn {
        border: 1px solid rgba(0, 18, 78, 0.1);
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        padding: 0px;
    }

    .count {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 0px;
        border: 1px solid rgba(0, 18, 78, 0.1);
        margin: 0px 10px 0px 10px;
    }

    .count h4 {
        padding: 0px 12px;
        margin-bottom: 0;
        background-color: #fff;
        font-size: 16px;
        font-weight: 500;
        color: $headerFontColor;
    }

    .count span {
        background-color: #F6F6F6;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .count i {
        color: $headerFontColor;
    }

    &__btn-section {
        margin-top: 5px;
    }

    &__header {
        p {
            color: $headerFontColor;
            font-size: 18px;
            margin-top: 5px;
        }

        &__terms {
            span {
                font-size: 16px;
                color: $paragrapghColor;
            }
        }
    }
}



/*----------------------------------------------------------------
>>> BLOG SECTION:
----------------------------------------------------------------*/
.blog {
    &__full {
        margin-top: 120px;
    }

    &__top-part {
        text-align: center;
        padding-bottom: 30px;
    }

    &__paragraph {
        color: $primaryColorOrange;
        font-size: 24px;
        font-weight: 600;
        line-height: 10px;
    }

    &__header-txt {
        color: $headerFontColor;
        font-size: 46px;
        font-weight: 800;
    }

    &__full-part {
        // display: flex;
    }

    &__part-1 {
        position: relative;
        // margin-right: 15px;
    }

    &__image {
        position: absolute;
        left: -39px;
        top: 45px;
    }

    &__image-1 {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    &__image-txt {
        color: $headerFontColor;
        font-size: 15px;
        font-weight: 400;
        transform: rotate(-90deg);
        background-color: white;
        padding: 5px;
    }

    &__blog-title {}

    &__content {
        color: $headerFontColor;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 700;
    }
}

/*----------------------------------------------------------------
>>> LOGO SECTION:
----------------------------------------------------------------*/
.companylogo {
    border-top: 1px solid #00124E1A;
    margin-top: 100px;
    padding: 80px 0px;
}

// Swiper slider
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------------------------------------------------
>>> FOOTER SECTION:
----------------------------------------------------------------*/
.site-footer {
    background: #FAFCFF;

    &__top {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__footer-logo {}

    &__footer-image {
        margin-bottom: 18px;
    }

    &__description {
        font-size: 16px;
        font-weight: 400;
        color: $paragrapghColor;
        text-align: left;
    }

    &__social-icon {
        margin-top: 40px;
    }

    &__facebook-icon {
        background: #3B5998;
        color: white;
        margin-right: 5px;
        padding: 7px 14px;

        &:hover {
            color: white;
        }
    }

    &__twitter-icon {
        background: #1DA1F2;
        color: white;
        margin-right: 5px;
        padding: 7px 12px;

        &:hover {
            color: white;
        }
    }

    &__vimeo-icon {
        background: #65E4B0;
        color: white;
        margin-right: 5px;
        padding: 7px 12px;

        &:hover {
            color: white;
        }
    }

    &__linkedin-icon {
        background: #0077B5;
        color: white;
        margin-right: 5px;
        padding: 7px 12px;

        &:hover {
            color: white;
        }
    }

    &__addressbar {
        padding-left: 0;
    }

    &__header {
        color: $headerFontColor;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &__location {
        display: flex;

        i {
            margin-top: 5px;
            margin-right: 10px;
            color: $paragrapghColor;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: $paragrapghColor;
        }
    }

    &__mail {
        display: flex;

        i {
            margin-top: 5px;
            margin-right: 10px;
            color: $paragrapghColor;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: $paragrapghColor;
        }
    }

    &__cell {
        display: flex;

        i {
            margin-top: 5px;
            margin-right: 10px;
            color: $paragrapghColor;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            color: $paragrapghColor;
        }
    }

    // support section footer
    &__support-links {
        list-style: none;
        padding: 0px;
        // margin-top: 10px;

        li {
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: $paragrapghColor;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }

    // newsletter section
    &__btn {
        margin-top: 20px;
    }

    &__btn-subscribe {
        @include fashionBtn;
    }

    // bottom footer
    &__bottom {
        background: #00124E;
        padding: 25px 0px;
    }

    &__copyright {
        color: white;
        font-size: 16px;
        margin-bottom: 0;
    }

    &__content {}

    &__footer-links {
        list-style: none;
        display: flex;
        margin-bottom: 0;

        li {
            a {
                text-decoration: none;
            }
        }
    }

    &__links-container {
        display: flex;
        justify-content: end;
    }

    &__payment {
        padding: 3px 10px;
        margin-right: 10px;
        background: white;
    }
}